// importação
@use 'variables'
@use 'mixins'

// geral
*
  box-sizing: border-box
  font-family: Arial, Helvetica, sans-serif
body
  margin: 0
  padding: 0
  transition: .6s

// Cabeçalho

.container

  display: flex
  align-items: center
  justify-content: space-between
  max-height: 13vh
 
  .header-container-logo
  
    height: 10vh
    & img
      height: 100%
     
  .header-container-menu-nav
    display: flex
    align-items: center

    & li
      padding: 10px 4.75rem
      list-style: none

    & a
      font-size: 1.3rem
      text-decoration: none
      text-transform: uppercase
      padding: 20px
      
      color: variables.$text-primary-color
      &:hover
        background-color: variables.$bg-color-1
        color: variables.$text-secunday-color

// Seção do Banner
#banner-home
  @include mixins.banner-home-img('../img/banner2.jpg')
  height: 60vh
  display: flex
  justify-content: center

  .column
    flex-direction: column
    display: flex
    justify-content: center

    .banner-column-headline
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      flex: 1
      & i
        margin-top: 3rem
        font-size: 5rem
        color: variables.$bg-color-1
      & h1,h2
        margin: 0px
        padding: 0px
        color: variables.$text-secunday-color
        

      & h1
        font-size: variables.$font-size
        font-weight: 900px
        font-family: 'Lobster', cursive
        text-align: center
        color: variables.$bg-color-1
.title-cont
  display: flex
  flex-direction: column
  padding: 0
  margin: 20px 0px
.decor-title
  width: 100px
  height: 6px
  background-color: variables.$bg-color-1
  margin: 0
  padding: 0

// Seção principal

.article-container

  @include mixins.container
  margin-top: 2rem
  max-width: variables.$container-width
  display: flex
  flex-direction: column
  align-items: center

  &-destaques
    display: flex
    flex-direction: column
    flex-wrap: wrap
    width: 1100px
    padding: 10px

    &-semana,
    &-other
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      margin-bottom: 6rem

    // Seção destaques da semana  
    #card-1,
    #card-2
      &:hover
        box-shadow: 0px 5px 13px black
      & img
        width: 100%
    
    & .imagem-card
        height: 300px
        width: 500px
        background-position: center
        background-size: cover

    #img-c-1,
    #img-c-2
      background-size: cover
      background-position: center
      background-repeat: no-repeat
    #img-c-2
      background-image: url('../img/img-c (2).jpg')
    #img-c-1
      background-image: url('../img/panetone (2).jpg')
   
    .text-destaque-card
      padding-bottom: 1rem

    & a
      text-decoration: none
      text-transform: uppercase
      font-size: .78rem
      color: white

    // Seção destaques de outras semanas

    &-other
      justify-content: space-between

      #card-3,
      #card-4,
      #card-5,
      #card-6
        width: 320px
        height: 210px
        display: flex
        margin: 2rem 10px

        &:hover
          box-shadow: 0px 5px 13px black
       
      // imagem
      .other-img-card
        flex: 1
        height: auto

        & img
          height: 100%
          width: 100%
          object-fit: cover

      // textos
      .other-info-card
        flex: 1
        display: flex
        flex-direction: column
        width: 100%
        background-color: variables.$bg-color-5

    .title-info
      font-size: 1rem
      font-weight: 900

    .categoria
      display: flex
      justify-content: center
      align-items: center
      margin: 0px
      padding: 6px
      height: 60px
      background-color: variables.$bg-color-2
      color: #ffff
      font-size: 1.2rem
      

.w3-container
  background-color: #fd8d32

// Seção modal
header .w3-button,
span
  color: variables.$bg-color-1
  font-size: 2.1rem
span
  font-size: 1.5rem

.modal-flex
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px
  & i
    font-size: 2rem
@media (min-width: 993px)
.w3-modal-content
  width: 300px
.btn-scrip
  border-radius: 10px

.container-footer
  @include mixins.flex-display-row
  padding: 1rem 2rem
  background-color: #000000
  height: 30vh
  color: #ffff
  justify-content: space-around
  & h3
   
  & i
    color: #ffff
    font-size: 1.5rem
  & a
    text-decoration: none
    display: block
.width
  height: 3px
  width: 50px
  background-color: variables.$bg-color-5
  margin-bottom: 2rem
#redes-sociais
  display: flex
  justify-content: space-between
  

.footer-banner
  padding: 10px